.background {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0;
  height: 200px;
  background: url("/static/svg/triangle.svg");
  padding: 0px 50px 20px 50px;
  box-sizing: border-box;
  background-size: 100%;

  svg {
    margin-left: auto;
    display: block;
    height: 80%;
    margin-top: 50px;
  }
}