.button,
button {
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  background-color: $primary;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  text-decoration: none;

  &.disabled,
  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &-centered {
    margin: 0 auto;
    display: block;
  }

  &:hover {
    background-color: tint($primary, 10%);
  }

  &.secondary {
    background: $grey;
  }

  &.danger {
    background-color: $red;

    &:hover {
      background-color: tint($red, 10%);
    }
  }

  &.warning {
    background-color: $yellow;
    color: $black;

    &:hover {
      background-color: tint($yellow, 10%);
    }
  }

  &.alt {
    background-color: $light-grey;
    color: $black;

    &:hover {
      background-color: shade($light-grey, 2%);
    }
  }
}