.container {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: $white;
  background: $black;
  
  &.purp {
    // background: rgba($background, 20%);
    h2 {
      font-weight: bold;
    }
  }
  
  &.centered {
    text-align: center;
  }

  &.warning {
    // background: rgba($background, 20%);
    
    h2 {
      font-weight: bolder;
    }
  }

  &:first-child {
    margin-top: 20px;
  }
}