.container {
  background: $white;
  padding: 10px 20px;
  margin-bottom: 20px;
  
  &.centered {
    text-align: center;
  }

  &.purp {
    background: tint($primary, 90%);
    // color: $white;
    // 
    h2 {
      font-weight: bolder;
    }
  }

  &:first-child {
    margin-top: 20px;
  }
}