form {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;

  input {
    padding: 10px 20px;
    background: none;
    border-radius: 0;
    border: 4px solid $primary;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    outline: none!important;
    color: $primary;
    font-weight: bold;
    width: 100%;
  }

  &-sub {
    position: absolute;
    top: -25px;
    font-size: 16px;
    left: 20px;
    right: 20px;

    b {
      position: absolute;
      right: 0;
      color: $primary;
      font-size: 18px;
    }
  }

  &.amount {
    position: relative;

    button {
      position: absolute;
      background: none;
      color: $primary;
      right: 0;
      top: 10px;
    }

    img {
      height: 38px;
      width: 38px;
      position: absolute;
      top: 5px;
      left: 10px;
    }

    input {
      padding: 10px 20px;
      background: none;
      border-radius: 0;
      border: 4px solid $primary;
      font-size: 18px;
      box-sizing: border-box;
      width: 100%;
      padding-right: 70px;
      padding-left: 50px;
      outline: none!important;
      color: $primary;
      font-weight: bold;
    }
  }
}