.hbox {
  display: flex;
  flex-direction: row;
  
  &-center {
    @extend .hbox;
    align-items: center;
  }
}

.vbox {
  display: flex;
  flex-direction: column;
  
  &-center {
    @extend .vbox;
    align-items: center;
  }
}

.flex {
  flex: 1;
}