.hbox {
  display: flex;
  flex-direction: row;

  &-between {
    @extend .hbox;
    justify-content: space-between;
  }

  &-center {
    @extend .hbox;
    align-items: center;
  }
}

.vbox {
  display: flex;
  flex-direction: column;

  &-between {
    @extend .vbox;
    justify-content: space-between;
  }

  &-center {
    @extend .vbox;
    align-items: center;
  }
}

.flex {
  flex: 1;
}