header {
  background: $primary;
  color: $white;
  padding: 20px 500px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;

  div.side {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .meta {
      span {
        text-align: right;
        margin-bottom: 10px;
        display: block;
      }
    }

    nav {
      display: flex;
      justify-content: flex-end;

      a {
        color: $white;
        text-decoration: none;
        font-size: 24px;
        padding: 5px 20px;
        background: tint($primary, 10%);
        box-sizing: border-box;
        display: inline-block;
        margin-left: 10px;
        position: relative;

        &:hover {
          &:after {
            left: 0;
            right: 0;
          }
        }

        &:after {
          content: ' ';
          background: $white;
          position: absolute;
          bottom: 100%;
          top: -3px;
          left: 50%;
          right: 50%;
          transition: left 200ms ease-in, right 200ms ease-in;
        }

        &.active {
          background: tint($grey, 90%);
          color: $primary;

          &:after {
            background: tint($primary, 50%);
          }
        }

        &:not([style*="display:none"]):last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      height: 50px;
    }

    span {
      // margin-left: 20px;
    }
  }
}
@media only screen and (max-width: 2000px) {
  header {
    padding-left: 500px;
    padding-right: 500px;
  }
}
@media only screen and (max-width: 1800px) {
  header {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1500px) {
  header {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}