header.main {
  background: $black;
  color: $white;
  // padding: 20px 500px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;

  div.side {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: row-reverse;
    align-items: center;

    nav {
      display: flex;
      justify-content: flex-end;
      margin-right: -20px;

      a {
        color: $white;
        text-decoration: none;
        font-size: 18px;
        padding: 5px 20px;
        // background: tint($primary, 10%);
        box-sizing: border-box;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;

        &:after {
          content: '';
          background: $menu;
          position: absolute;
          bottom: 100%;
          top: -3px;
          left: 50%;
          right: 50%;
          opacity: 0;
          transition: left 200ms ease-in, right 200ms ease-in, opacity 200ms ease-in;
        }

        &:hover {
          &:after {
            left: 20px;
            right: 20px;
            opacity: 1;
          }
        }

        &.active {
          color: $primary;
        }

        &:not([style*="display:none"]):last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;

    img {
      height: 80px;
    }

    span {
      color: $white;
    }
  }
}

header.sub {
  background: $black;
  padding-top: 10px;
  padding-bottom: 10px;

  .meta {
    span {
      text-align: right;
      display: block;
      color: $accent;
      font-weight: bold;
    }
  }
}
@media only screen and (max-width: 2000px) {
  header {
    padding-left: 500px;
    padding-right: 500px;
  }
}
@media only screen and (max-width: 1800px) {
  header {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1500px) {
  header {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}