.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.9);

  &-mini {
    height: 30px;
    -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -ms-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
  }

  svg {
    background: $background;
    height: 120px;
    width: 120px;
    padding: 40px;

    rect {
      transition: y 50ms ease-in-out;
      opacity: 1;

      &:nth-child(2) {
        y: 42;
      }

      &:nth-child(3) {
        y: 16;
      }

      &:nth-child(4) {
        y: -10;
      }

      &.out {
        opacity: 0;

        &:nth-child(2) {
          y: 52;
        }

        &:nth-child(3) {
          y: 26;
        }

        &:nth-child(4) {
          y: 0;
        }
      }
    }
  }

  p {
    font-weight: bold;
    color: $primary;
    font-size: 22px;
    z-index: 1;
  }

  &-small {
    p {
      font-size: 18px;
      margin-top: -40px;
    }

    svg {
      transform: scale(.5);
    }
  }
}
/* Safari and Chrome */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}