table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;

  & * {
    font-size: 16px;
  }

  thead {
    th {
      padding: 10px 20px;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      color: $white;

      &.align-right {
        text-align: right;
      }

      &.fat {
        font-weight: bold;
        color: $primary;
      }
    }
  }

  tbody {
    color: $white;

    tr {
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &.highlighted:not(.expander) {
        background: rgba($primary, 20%) !important;

        * {
          font-size: 102%;
          font-weight: bold;
        }
      }

      td {
        padding: 10px 20px;

        &.align-right {
          text-align: right;
        }

        &.align-center {
          text-align: center;
        }

        &.fat {
          font-weight: bold;
          color: $primary;
        }

        &.icon {
          img {
            height: 40px;
          }
        }

        &.icons {
          img {
            height: 24px;
            display: inline;
          }
        }

        .button {
          font-size: 16px;
        }

        &[data-docs] {
          // display: flex;

          a.docs {
            // position: relative;
            // top: -8px;
            // height: 28px;
            // width: 28px;
            // margin-left: 20px;
            // 
              height: 28px;
              width: 28px;
              font-size: 22px !important;
              color: $white !important;
              align-self: center;
              margin-top: 8px;
              margin-right: 10px;
          }
        }

        button {
          background: $primary;
          color: $white;
          border: none;
          padding: 5px 10px;
          border: none;
          cursor: pointer;
          width: 100%;
        }
      }

      &:not(.expander) {
        &:hover {
          background: rgba($accent, 20%);
        }
      }
    }
  }
}