table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;

  & * {
    font-size: 16px;
  }

  thead {
    th {
      padding: 10px 20px;
      font-size: 18px;
      color: $primary;
      text-align: left;
    }
  }

  tbody {
    tr {
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      td {
        padding: 10px 20px;
        
        &.align-right {
          text-align: right;
        }

        &.fat {
          font-weight: bold;
          color: $primary;
        }

        &.icon {
          img {
            height: 40px;
          }
        }

        &.icons {

          img {
            height: 24px;
            display: inline;
          }
        }

        button {
          background: $primary;
          color: $white;
          border: none;
          padding: 5px 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
          width: 100%;
        }
      }

      &:nth-child(odd) {
        background: tint($primary, 90%);
      }

      &:nth-child(even) {
        background: tint($primary, 94%);
      }

      &:not(.expander) {
        &:hover {
          background: tint($primary, 80%);
        }
      }
    }
  }
}