    </div>
    <footer>
      ©2021 Audits R Dead. All rights reserved
    </footer>
    
    <script src="/static/js/ext/ethers.min.js" type="module" charset="utf-8"></script>
    <script src="/static/js/modules/manager.js" type="module" charset="utf-8"></script>
    <script src="/static/js/modules/loader.js" type="module" charset="utf-8"></script>
    <script src="/static/js/modules/notifications.js" type="module" charset="utf-8"></script>
    <script src="/static/js/modules/helpers.js" type="module" charset="utf-8"></script>
    <script src="/static/js/wallet.js" type="module" charset="utf-8"></script>
    <script src="/static/js/{{ title }}.js" type="module" charset="utf-8"></script>
  </body>
</html>