<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/favicon.png?v={{ env.git_hash }}" sizes="32x32" />

  <title>Sherlock - {{ title }}</title>
  <link rel="stylesheet" href="/static/css/common.css?v={{ env.git_hash }}">
  {% if currentPage == "landing" %}
  <link rel="stylesheet" href="/static/css/landing.css?v={{ env.git_hash }}">{% endif %}
  {% if currentPage == "dashboard" %}
  <link rel="stylesheet" href="/static/css/dashboard.css?v={{ env.git_hash }}">{% endif %}
  {% if currentPage == "breakdown" %}
  <link rel="stylesheet" href="/static/css/breakdown.css?v={{ env.git_hash }}">{% endif %}
  {% if currentPage == "withdraw" %}
  <link rel="stylesheet" href="/static/css/withdraw.css?v={{ env.git_hash }}">{% endif %}
</head>

<body>
  <header>
    <a class="logo" href="/">
      <img src="/static/img/logo-white.svg?v={{ env.git_hash }}" alt="">
    </a>
    <div class="side">
      <div class="meta">
        <span id="walletName" {{ env.wallet|pprint }} {% if env.wallet == "None" %} class="hidden" {% endif %}> {{ env.wallet[:4] }}...{{ env.wallet[-4:]}}</span>
      </div>
      <nav>
        <a href="/" class="{% if currentPage == "dashboard" %}active{% endif %}">Dashboard</a>
        <a href="/breakdown" class="{% if currentPage == "breakdown" %}active{% endif %}">Breakdown</a>
        {% if env.wallet != "None" %} 
          <a href="/faucet" class="{% if currentPage == "faucet" %}active{% endif %}">Faucet</a>
        {% else %}
          <a href="#" class="cta" id="walletConnect">Connect Wallet</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <div class="app">
