<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sherlock - {{ title }}</title>
  <link rel="stylesheet" href="/static/css/common.css">
  {% if currentPage == "landing" %}
  <link rel="stylesheet" href="/static/css/landing.css">{% endif %}
  {% if currentPage == "dashboard" %}
  <link rel="stylesheet" href="/static/css/dashboard.css">{% endif %}
  {% if currentPage == "allocations" %}
  <link rel="stylesheet" href="/static/css/allocations.css">{% endif %}
  {% if currentPage == "faq" %}
  <link rel="stylesheet" href="/static/css/faq.css">{% endif %}
</head>

<body>
  <header>
    <div class="logo">
      <img src="static/img/logo.svg" alt="">
      <span>Sherlock</span>
    </div>
    <div class="side">
      <div class="meta">
        <span id="walletName" {% if wallet == "None" %} class="hidden" {% endif %}>{{ wallet }}</span>  
      </div>
      <nav>
        {% if currentPage != "landing" %}
        <a href="/" class="{% if currentPage == "dashboard" %}active{% endif %}">Dashboard</a>
        <a href="/allocations" class="{% if currentPage == "allocations" %}active{% endif %}">Allocations</a>
        <a href="/faq" class="{% if currentPage == "faq" %}active{% endif %}">FAQ</a>
        {% endif %}
        <a href="#" class="cta{% if wallet != "None" %} hidden {% endif %}" id="walletConnect">Connect Wallet</a>
      </nav>
    </div>
  </header>
  <div class="app">
    <div class="background">
      {% include 'partials/background.html' %}
    </div>