<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Audits R Dead - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/common.css">
    {% if currentPage == "landing" %}<link rel="stylesheet" href="/static/css/landing.css">{% endif %}
    {% if currentPage == "dashboard" %}<link rel="stylesheet" href="/static/css/dashboard.css">{% endif %}
    {% if currentPage == "allocations" %}<link rel="stylesheet" href="/static/css/allocations.css">{% endif %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="static/img/logo.svg" alt="">
        <span>Audits R Dead.</span>
      </div>
      {% if currentPage != "landing" %}
        <a href="/dashboard" class="{% if currentPage == "dashboard" %}active{% endif %}">Dashboard</a>
        <a href="/allocations" class="{% if currentPage == "allocations" %}active{% endif %}">Allocations</a>
      {% endif %}
    </header>
    <div class="app">
      