body {
  padding: 0;
  margin: 0;
  font-family: "Courier";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.flex {
  flex: 1;
}

.fat {
  font-weight: bold;
  color: #8e44ad;
}

h2 {
  color: #8e44ad;
}
h2 sup {
  font-size: 14px;
}

.justify-box {
  display: flex;
  justify-content: space-between;
}

.app {
  padding: 0 500px;
  padding-bottom: 20px !important;
  flex: 1;
  position: relative;
  background: #f4f4f4;
}

@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
.ct-label {
  fill: #fff;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #552968;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: #552968;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #633079;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: #633079;
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #72368a;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: #72368a;
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #803d9c;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  fill: #803d9c;
}

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #8e44ad;
}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: #8e44ad;
}

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: #8e44ad;
}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: #8e44ad;
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #9957b5;
}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: #9957b5;
}

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #a569bd;
}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
  fill: #a569bd;
}

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #b07cc6;
}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
  fill: #b07cc6;
}

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #bb8fce;
}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
  fill: #bb8fce;
}

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #c7a2d6;
}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
  fill: #c7a2d6;
}

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: #d2b4de;
}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
  fill: #d2b4de;
}

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #ddc7e6;
}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
  fill: #ddc7e6;
}

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #e8daef;
}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
  fill: #e8daef;
}

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #f4ecf7;
}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
  fill: #f4ecf7;
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.8888888889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.3333333333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.6666666667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.804697157%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.3333333333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.3333333333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  background: #8e44ad;
  color: #FFF;
  padding: 20px 500px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
header div.side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header div.side .meta span {
  text-align: right;
  margin-bottom: 10px;
  display: block;
}
header div.side nav {
  display: flex;
  justify-content: flex-end;
}
header div.side nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
  padding: 5px 20px;
  background: #9957b5;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
header div.side nav a:hover:after {
  left: 0;
  right: 0;
}
header div.side nav a:after {
  content: " ";
  background: #FFF;
  position: absolute;
  bottom: 100%;
  top: -3px;
  left: 50%;
  right: 50%;
  transition: left 200ms ease-in, right 200ms ease-in;
}
header div.side nav a.active {
  background: #f4f4f4;
  color: #8e44ad;
}
header div.side nav a.active:after {
  background: #c7a2d6;
}
header div.side nav a:not([style*="display:none"]):last-child {
  margin-right: 0;
}
header .logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
header .logo img {
  height: 50px;
}
@media only screen and (max-width: 2000px) {
  header {
    padding-left: 500px;
    padding-right: 500px;
  }
}
@media only screen and (max-width: 1800px) {
  header {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1500px) {
  header {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.blocks__row {
  display: flex;
}
.blocks__row:first-child .blocks__row-block, .blocks__row:first-child .blocks__row-block-full {
  margin-bottom: 0;
}
.blocks__row-block, .blocks__row-block-full {
  flex-basis: calc(50% - 10px);
  margin: 20px 10px 0;
  padding: 20px;
  background: #FFF;
  z-index: 1;
}
.blocks__row-block-full {
  flex-basis: 100% !important;
}
.blocks__row-block:first-child, .blocks__row-block-full:first-child {
  margin-left: 0;
}
.blocks__row-block:last-child, .blocks__row-block-full:last-child {
  margin-right: 0;
}
.blocks__row-block:first-child:last-child, .blocks__row-block-full:first-child:last-child {
  flex-basis: calc(50% - 50px);
  margin: 20px 0 0;
}
.blocks__row-block h2, .blocks__row-block-full h2 {
  color: #8e44ad;
  margin-top: 0;
}

footer {
  color: #FFF;
  background: #8e44ad;
  padding: 10px 100px;
  z-index: 1;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
.loader-mini {
  height: 30px;
  -webkit-animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -ms-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}
.loader .doge {
  height: 100px;
  position: absolute;
  transform: translate3d(0, -160px, 0);
  transform-origin: 70px 70px;
  -webkit-animation: rotating-moon 4s linear infinite;
  -moz-animation: rotating-moon 4s linear infinite;
  -ms-animation: rotating-moon 4s linear infinite;
  -o-animation: rotating-moon 4s linear infinite;
  animation: rotating-moon 4s linear infinite;
}
.loader .moon {
  position: absolute;
  height: 200px;
}
.loader p {
  margin-top: 300px;
  font-weight: bold;
  color: #8e44ad;
  font-size: 22px;
  z-index: 1;
}
.loader-small .doge {
  height: 50px;
  transform: scale(0.5);
  transform-origin: 35px -35px;
  margin-top: 120px;
}
.loader-small .moon {
  height: 100px;
}
.loader-small p {
  margin-top: 170px;
}

/* Safari and Chrome */
@-webkit-keyframes rotating-moon {
  from {
    -webkit-transform: rotate(0deg), translate3d(0, -160px, 0);
    -o-transform: rotate(0deg), translate3d(0, -160px, 0);
    transform: rotate(0deg), translate3d(0, -160px, 0);
  }
  to {
    -webkit-transform: rotate(360deg), translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
@keyframes rotating-moon {
  from {
    -ms-transform: rotate(0deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(0deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(0deg) translate3d(0, -160px, 0);
    -o-transform: rotate(0deg) translate3d(0, -160px, 0);
    transform: rotate(0deg) translate3d(0, -160px, 0);
  }
  to {
    -ms-transform: rotate(360deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(360deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(360deg) translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
/* Safari and Chrome */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-moon {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  width: 400px;
  height: 400px;
  background: #FFF;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 6px solid #000;
}
.modal-container h1 {
  margin-bottom: 0;
  text-align: center;
}
.modal-container p {
  text-align: center;
}

.notification-center {
  position: fixed;
  left: 60%;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.notification {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #8e918f;
  padding: 20px;
  display: flex;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
  overflow: hidden;
  background: #FFF;
  margin-bottom: 10px;
  position: relative;
  opacity: 0;
  margin-top: -100px;
}
.notification button {
  align-self: flex-end;
}
.notification__meta {
  flex: 1;
  margin-right: 20px;
}
.notification h4 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
  color: #8e44ad;
}
.notification p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}
.notification.warning h4 {
  color: #f1c40f;
}
.notification.warning .notification__timer {
  background: #f1c40f;
}
.notification.danger h4 {
  color: #e74c3c;
}
.notification.danger .notification__timer {
  background: #e74c3c;
}
.notification.out {
  margin-top: -100px;
}
.notification.out .notification__timer {
  display: none;
}
.notification.in {
  opacity: 1;
  margin-top: 0;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
}
.notification.in .notification__timer {
  right: 100%;
}
.notification__timer {
  position: absolute;
  left: 0;
  height: 10px;
  right: 0;
  bottom: 0;
  border-radius: 0 5px 5px 0;
  background: #8e44ad;
  transition: right 5s linear;
}

.button,
button {
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  background-color: #8e44ad;
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  text-decoration: none;
}
.button.disabled, .button:disabled,
button.disabled,
button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.button-centered,
button-centered {
  margin: 0 auto;
  display: block;
}
.button:hover,
button:hover {
  background-color: #9957b5;
}
.button.secondary,
button.secondary {
  background: #8e918f;
}
.button.danger,
button.danger {
  background-color: #e74c3c;
}
.button.danger:hover,
button.danger:hover {
  background-color: #e95e50;
}
.button.warning,
button.warning {
  background-color: #f1c40f;
  color: #000;
}
.button.warning:hover,
button.warning:hover {
  background-color: #f2ca27;
}
.button.alt,
button.alt {
  background-color: #e8e9e9;
  color: #000;
}
.button.alt:hover,
button.alt:hover {
  background-color: #e3e4e4;
}

article {
  max-width: 470px;
}
article a {
  color: #8e44ad;
  font-weight: bold;
}

.input.amount {
  position: relative;
}
.input.amount button {
  position: absolute;
  background: none;
  color: #8e44ad;
  right: 0;
  top: 10px;
}
.input.amount img {
  height: 38px;
  width: 38px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.input.amount input {
  padding: 10px 20px;
  background: none;
  border-radius: 0;
  border: 4px solid #8e44ad;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 70px;
  padding-left: 50px;
  outline: none !important;
  color: #8e44ad;
  font-weight: bold;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}
table * {
  font-size: 16px;
}
table thead th {
  padding: 10px 20px;
  font-size: 18px;
  color: #8e44ad;
  text-align: left;
}
table tbody tr td {
  padding: 10px 20px;
}
table tbody tr td.fat {
  font-weight: bold;
  color: #8e44ad;
}
table tbody tr td.icon img {
  height: 50px;
}
table tbody tr td button {
  background: #8e44ad;
  color: #FFF;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
}
table tbody tr:nth-child(odd) {
  background: #f4ecf7;
}
table tbody tr:nth-child(even) {
  background: #f8f4fa;
}
table tbody tr:hover {
  background: #e8daef;
}

.container {
  background: #FFF;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.container.centered {
  text-align: center;
}
.container.purp {
  background: #8e44ad;
  color: #FFF;
}
.container.purp h2 {
  color: #FFF;
}
.container:first-child {
  margin-top: 20px;
}

/*# sourceMappingURL=common.css.map */
