body {
  padding: 0;
  margin: 0;
  font-family: "courier";
  display: flex;
  flex-direction: column;
  font-family: "montserrat";
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.flex {
  flex: 1;
}

.fat {
  font-weight: bold;
  color: #FE6E99;
}

.stretch {
  width: 100%;
}

h1,
h2 {
  font-family: "montserrat";
}
h1 sup,
h2 sup {
  font-size: 14px;
}

h1,
h2 {
  color: #FFF;
}

p {
  color: #FFF;
}

.justify-box {
  display: flex;
  justify-content: space-between;
}

.scrollx {
  overflow-x: auto;
}

.app {
  padding: 0 500px;
  padding-bottom: 20px !important;
  flex: 1;
  position: relative;
  background: #1a1a1a;
}

@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPS-BoldMT.eot");
  src: local("Courier New Bold"), local("CourierNewPS-BoldMT"), url("/static/font/courier-new/CourierNewPS-BoldMT.eot?#iefix") format("embedded-opentype"), url("/static/font/courier-new/CourierNewPS-BoldMT.woff2") format("woff2"), url("/static/font/courier-new/CourierNewPS-BoldMT.woff") format("woff"), url("/static/font/courier-new/CourierNewPS-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPS-BoldItalicMT.eot");
  src: local("Courier New Bold Italic"), local("CourierNewPS-BoldItalicMT"), url("/static/font/courier-new/CourierNewPS-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("/static/font/courier-new/CourierNewPS-BoldItalicMT.woff2") format("woff2"), url("/static/font/courier-new/CourierNewPS-BoldItalicMT.woff") format("woff"), url("/static/font/courier-new/CourierNewPS-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPS-ItalicMT.eot");
  src: local("Courier New Italic"), local("CourierNewPS-ItalicMT"), url("/static/font/courier-new/CourierNewPS-ItalicMT.eot?#iefix") format("embedded-opentype"), url("/static/font/courier-new/CourierNewPS-ItalicMT.woff2") format("woff2"), url("/static/font/courier-new/CourierNewPS-ItalicMT.woff") format("woff"), url("/static/font/courier-new/CourierNewPS-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPSMT.eot");
  src: local("Courier New"), local("CourierNewPSMT"), url("/static/font/courier-new/CourierNewPSMT.eot?#iefix") format("embedded-opentype"), url("/static/font/courier-new/CourierNewPSMT.woff2") format("woff2"), url("/static/font/courier-new/CourierNewPSMT.woff") format("woff"), url("/static/font/courier-new/CourierNewPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Thin.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Thin.woff") format("woff");
}
/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-ThinItalic.woff") format("woff");
}
/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-ExtraLight.woff") format("woff");
}
/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Light.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Light.woff") format("woff");
}
/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-LightItalic.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Regular.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-Italic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Italic.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Medium.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Medium.woff") format("woff");
}
/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Bold.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Bold.woff") format("woff");
}
/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-BoldItalic.woff") format("woff");
}
/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-ExtraBold.woff") format("woff");
}
/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("/static/font/montserrat/Montserrat-Black.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-Black.woff") format("woff");
}
/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("/static/font/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("/static/font/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
/** =================== MONTSERRAT ALTERNATES =================== **/
/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Thin.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Thin.woff") format("woff");
}
/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}
/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Light.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Light.woff") format("woff");
}
/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-LightItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}
/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Regular.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Regular.woff") format("woff");
}
/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-Italic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Italic.woff") format("woff");
}
/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Medium.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Medium.woff") format("woff");
}
/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-MediumItalic.woff") format("woff");
}
/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-SemiBold.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}
/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Bold.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Bold.woff") format("woff");
}
/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}
/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("/static/font/montserrat/MontserratAlternates-Black.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-Black.woff") format("woff");
}
/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("/static/font/montserrat/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("/static/font/montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
.ct-label {
  fill: #fff;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #fe6e99;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: #fe6e99;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #fe8bad;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: #fe8bad;
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #fea8c2;
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: #fea8c2;
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #ffc5d6;
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  fill: #ffc5d6;
}

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #ffe2eb;
}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: #ffe2eb;
}

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: white;
}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: white;
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: #fe6e99;
}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: #fe6e99;
}

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: #fe8bad;
}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
  fill: #fe8bad;
}

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: #fea8c2;
}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
  fill: #fea8c2;
}

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: #ffc5d6;
}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
  fill: #ffc5d6;
}

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: #ffe2eb;
}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
  fill: #ffe2eb;
}

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: white;
}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
  fill: white;
}

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: #fe6e99;
}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
  fill: #fe6e99;
}

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: #fe8bad;
}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
  fill: #fe8bad;
}

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: #fea8c2;
}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
  fill: #fea8c2;
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.8888888889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.3333333333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.6666666667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.804697157%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.3333333333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.3333333333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

header.main {
  background: #000;
  color: #FFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
header.main div.side {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: row-reverse;
  align-items: center;
}
header.main div.side nav {
  display: flex;
  justify-content: flex-end;
  margin-right: -20px;
}
header.main div.side nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
header.main div.side nav a:hover:after {
  left: 0;
  right: 0;
}
header.main div.side nav a:after {
  content: " ";
  background: #8717E8;
  position: absolute;
  bottom: 100%;
  top: -3px;
  left: 50%;
  right: 50%;
  transition: left 200ms ease-in, right 200ms ease-in;
}
header.main div.side nav a.active {
  color: #01FEB4;
}
header.main div.side nav a:not([style*="display:none"]):last-child {
  margin-right: 0;
}
header.main .logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}
header.main .logo img {
  height: 50px;
}
header.main .logo span {
  color: #FFF;
}

header.sub {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
header.sub .meta span {
  text-align: right;
  display: block;
  color: #01FEB4;
  font-weight: bold;
}

@media only screen and (max-width: 2000px) {
  header {
    padding-left: 500px;
    padding-right: 500px;
  }
}
@media only screen and (max-width: 1800px) {
  header {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 1500px) {
  header {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.blocks__row {
  display: flex;
}
.blocks__row:first-child .blocks__row-block, .blocks__row:first-child .blocks__row-block-full {
  margin-bottom: 0;
}
.blocks__row-block, .blocks__row-block-full {
  flex-basis: calc(50% - 10px);
  margin: 20px 10px 0;
  padding: 20px;
  background: #FFF;
  z-index: 1;
}
.blocks__row-block-full {
  flex-basis: 100% !important;
}
.blocks__row-block:first-child, .blocks__row-block-full:first-child {
  margin-left: 0;
}
.blocks__row-block:last-child, .blocks__row-block-full:last-child {
  margin-right: 0;
}
.blocks__row-block:first-child:last-child, .blocks__row-block-full:first-child:last-child {
  flex-basis: calc(50% - 50px);
  margin: 20px 0 0;
}
.blocks__row-block h2, .blocks__row-block-full h2 {
  color: #FE6E99;
  margin-top: 0;
}

footer {
  color: #FFF;
  background: #000;
  padding: 10px 100px;
  z-index: 1;
}
footer a {
  margin-left: 10px;
  width: 30px;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
.loader-mini {
  height: 30px;
  -webkit-animation: rotate 3s linear infinite;
  -moz-animation: rotate 3s linear infinite;
  -ms-animation: rotate 3s linear infinite;
  -o-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}
.loader .doge {
  height: 100px;
  position: absolute;
  transform: translate3d(0, -160px, 0);
  transform-origin: 70px 70px;
  -webkit-animation: rotating-moon 4s linear infinite;
  -moz-animation: rotating-moon 4s linear infinite;
  -ms-animation: rotating-moon 4s linear infinite;
  -o-animation: rotating-moon 4s linear infinite;
  animation: rotating-moon 4s linear infinite;
}
.loader .moon {
  position: absolute;
  height: 200px;
}
.loader p {
  margin-top: 300px;
  font-weight: bold;
  color: #FE6E99;
  font-size: 22px;
  z-index: 1;
}
.loader-small .doge {
  height: 50px;
  transform: scale(0.5);
  transform-origin: 35px -35px;
  margin-top: 120px;
}
.loader-small .moon {
  height: 100px;
}
.loader-small p {
  margin-top: 170px;
}

/* Safari and Chrome */
@-webkit-keyframes rotating-moon {
  from {
    -webkit-transform: rotate(0deg), translate3d(0, -160px, 0);
    -o-transform: rotate(0deg), translate3d(0, -160px, 0);
    transform: rotate(0deg), translate3d(0, -160px, 0);
  }
  to {
    -webkit-transform: rotate(360deg), translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
@keyframes rotating-moon {
  from {
    -ms-transform: rotate(0deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(0deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(0deg) translate3d(0, -160px, 0);
    -o-transform: rotate(0deg) translate3d(0, -160px, 0);
    transform: rotate(0deg) translate3d(0, -160px, 0);
  }
  to {
    -ms-transform: rotate(360deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(360deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(360deg) translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
/* Safari and Chrome */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-moon {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  width: 500px;
  background: #000;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
.modal-container #estimate {
  margin: 0;
}
.modal-container .hbox.stretch, .modal-container .stretch.hbox-center, .modal-container .stretch.hbox-between {
  color: #FFF;
}
.modal-container .input {
  margin-top: 20px;
}
.modal-container h1 {
  margin-bottom: 0;
  text-align: center;
}
.modal-container p {
  text-align: center;
}
.modal .approval-loader {
  width: 500px;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .approval-loader img {
  margin-bottom: 20px;
}

.hbox, .hbox-center, .hbox-between {
  display: flex;
  flex-direction: row;
}
.hbox-between {
  justify-content: space-between;
}
.hbox-center {
  align-items: center;
}

.vbox, .vbox-center, .vbox-between {
  display: flex;
  flex-direction: column;
}
.vbox-between {
  justify-content: space-between;
}
.vbox-center {
  align-items: center;
}

.flex {
  flex: 1;
}

.notification-center {
  position: fixed;
  left: 60%;
  right: 20px;
  bottom: 30px;
  z-index: 10;
}

.notification {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #8e918f;
  padding: 20px;
  display: flex;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
  overflow: hidden;
  background: #FFF;
  margin-bottom: 10px;
  position: relative;
  opacity: 0;
  margin-top: -100px;
  z-index: 10;
}
.notification button {
  align-self: flex-end;
}
.notification__meta {
  flex: 1;
  margin-right: 20px;
}
.notification h4 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
  color: #FE6E99;
}
.notification p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}
.notification.warning h4 {
  color: #f1c40f;
}
.notification.warning .notification__timer {
  background: #f1c40f;
}
.notification.danger h4 {
  color: #e74c3c;
}
.notification.danger .notification__timer {
  background: #e74c3c;
}
.notification.out {
  margin-top: -100px;
}
.notification.out .notification__timer {
  display: none;
}
.notification.in {
  opacity: 1;
  margin-top: 0;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
}
.notification.in .notification__timer {
  right: 100%;
}
.notification__timer {
  position: absolute;
  left: 0;
  height: 10px;
  right: 0;
  bottom: 0;
  border-radius: 0 5px 5px 0;
  background: #FE6E99;
  transition: right 5s linear;
}

.button,
button {
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  background-color: #FE6E99;
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  text-decoration: none;
}
.button.fixed-width,
button.fixed-width {
  width: 220px;
}
.button.disabled, .button:disabled,
button.disabled,
button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.button-centered,
button-centered {
  margin: 0 auto;
  display: block;
}
.button:hover,
button:hover {
  background-color: #fe7da3;
}
.button.secondary,
button.secondary {
  background: #8e918f;
}
.button.danger,
button.danger {
  background-color: #e74c3c;
}
.button.danger:hover,
button.danger:hover {
  background-color: #e95e50;
}
.button.warning,
button.warning {
  background-color: #f1c40f;
  color: #000;
}
.button.warning:hover,
button.warning:hover {
  background-color: #f2ca27;
}
.button.alt,
button.alt {
  color: #525252;
  font-weight: normal;
  background: none;
}
.button.alt:hover,
button.alt:hover {
  color: #000;
}

article {
  max-width: 470px;
}
article a {
  color: #FE6E99;
  font-weight: bold;
}

form {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
}
.input input {
  padding: 10px 20px;
  background: none;
  border-radius: 0;
  border: 1px solid #FFF;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  outline: none !important;
  color: #FE6E99;
  font-weight: bold;
  width: 100%;
}
.input-sub {
  position: absolute;
  top: -25px;
  font-size: 16px;
  left: 20px;
  right: 20px;
}
.input-sub b {
  position: absolute;
  right: 0;
  color: #FE6E99;
  font-size: 18px;
}
.input.amount {
  position: relative;
}
.input.amount button {
  position: absolute;
  background: none;
  color: #FE6E99;
  right: 0;
  top: 7px;
}
.input.amount img {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 3px;
  left: 10px;
}
.input.amount input {
  padding: 10px 20px;
  background: none;
  border-radius: 0;
  font-size: 18px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 70px;
  padding-left: 60px;
  outline: none !important;
  color: #FE6E99;
  font-weight: bold;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}
table * {
  font-size: 16px;
}
table thead th {
  padding: 10px 20px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #FFF;
}
table thead th.align-right {
  text-align: right;
}
table thead th.fat {
  font-weight: bold;
  color: #FE6E99;
}
table tbody {
  color: #FFF;
}
table tbody tr.disabled {
  opacity: 0.5;
  pointer-events: none;
}
table tbody tr.highlighted:not(.expander) {
  background: rgba(254, 110, 153, 0.2) !important;
}
table tbody tr.highlighted:not(.expander) * {
  font-size: 102%;
  font-weight: bold;
}
table tbody tr td {
  padding: 10px 20px;
}
table tbody tr td.align-right {
  text-align: right;
}
table tbody tr td.align-center {
  text-align: center;
}
table tbody tr td.fat {
  font-weight: bold;
  color: #FE6E99;
}
table tbody tr td.icon img {
  height: 40px;
}
table tbody tr td.icons img {
  height: 24px;
  display: inline;
}
table tbody tr td .button {
  font-size: 16px;
}
table tbody tr td[data-docs] a.docs {
  height: 28px;
  width: 28px;
  font-size: 22px !important;
  color: #FFF !important;
  align-self: center;
  margin-top: 8px;
  margin-right: 10px;
}
table tbody tr td button {
  background: #FE6E99;
  color: #FFF;
  border: none;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}
table tbody tr:not(.expander):hover {
  background: rgba(1, 254, 180, 0.2);
}

.container {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #FFF;
  background: #000;
}
.container.purp h2 {
  font-weight: bold;
}
.container.centered {
  text-align: center;
}
.container.warning h2 {
  font-weight: bolder;
}
.container:first-child {
  margin-top: 20px;
}

.smoking-kills, .input.amount input {
  border: 2px solid #FFF;
}

[data-docs] {
  position: relative;
}
[data-docs] a.docs {
  content: "?";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  background: #FE6E99;
  color: #FFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
[data-docs] a.docs:hover {
  background: #fe7da3;
}

/*# sourceMappingURL=common.css.map */
