body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.app {
  padding: 0 500px;
  flex: 1;
  background: #f4f4f4;
}

@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
header {
  background: #006FE7;
  color: #FFF;
  padding: 20px 500px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
header div.side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header div.side .meta span {
  text-align: right;
  margin-bottom: 10px;
  display: block;
}
header div.side nav {
  display: flex;
  justify-content: flex-end;
}
header div.side nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 24px;
  padding: 5px 20px;
  background: #1a7de9;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
header div.side nav a:hover:after {
  left: 0;
  right: 0;
}
header div.side nav a:after {
  content: " ";
  background: #FFF;
  position: absolute;
  bottom: 100%;
  top: -3px;
  left: 50%;
  right: 50%;
  transition: left 200ms ease-in, right 200ms ease-in;
}
header div.side nav a.active {
  background: #f4f4f4;
  color: #006FE7;
}
header div.side nav a.active:after {
  background: #80b7f3;
}
header div.side nav a:not([style*="display:none"]):last-child {
  margin-right: 0;
}
header .logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
header .logo img {
  height: 50px;
}
header .logo span {
  margin-left: 20px;
}

@media only screen and (max-width: 2000px) {
  header {
    padding-left: 500px;
    padding-right: 500px;
  }
}
@media only screen and (max-width: 1800px) {
  header {
    padding-left: 300px;
    padding-right: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 800px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
footer {
  color: #FFF;
  background: #006FE7;
  padding: 10px 100px;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
.loader .doge {
  height: 100px;
  position: absolute;
  transform: translate3d(0, -160px, 0);
  transform-origin: 70px 70px;
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}
.loader .moon {
  position: absolute;
  height: 200px;
}
.loader p {
  margin-top: 300px;
  font-weight: bold;
  color: #006FE7;
  font-size: 22px;
  z-index: 1;
}

/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg), translate3d(0, -160px, 0);
    -o-transform: rotate(0deg), translate3d(0, -160px, 0);
    transform: rotate(0deg), translate3d(0, -160px, 0);
  }
  to {
    -webkit-transform: rotate(360deg), translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(0deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(0deg) translate3d(0, -160px, 0);
    -o-transform: rotate(0deg) translate3d(0, -160px, 0);
    transform: rotate(0deg) translate3d(0, -160px, 0);
  }
  to {
    -ms-transform: rotate(360deg) translate3d(0, -160px, 0);
    -moz-transform: rotate(360deg) translate3d(0, -160px, 0);
    -webkit-transform: rotate(360deg) translate3d(0, -160px, 0);
    -o-transform: rotate(360deg) translate3d(0, -160px, 0);
    transform: rotate(360deg) translate3d(0, -160px, 0);
  }
}
.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  width: 400px;
  height: 400px;
  background: #1a7de9;
  color: #FFF;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.modal-container h1 {
  margin-bottom: 0;
}
.modal-container button {
  margin-top: 100px;
  background: #FFF;
  color: #006FE7;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
}
.modal-container button:hover {
  background: #e8e9e9;
  cursor: pointer;
}

.notification-center {
  position: absolute;
  left: 60%;
  right: 20px;
  bottom: 20px;
}

.notification {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #8e918f;
  padding: 20px;
  display: flex;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
  overflow: hidden;
  background: #FFF;
  margin-bottom: 10px;
  position: relative;
  opacity: 0;
  margin-top: -100px;
}
.notification button {
  align-self: flex-end;
}
.notification__meta {
  flex: 1;
}
.notification h4 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
  color: #006FE7;
}
.notification p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}
.notification.warning h4 {
  color: #f1c40f;
}
.notification.warning .notification__timer {
  background: #f1c40f;
}
.notification.danger h4 {
  color: #e74c3c;
}
.notification.danger .notification__timer {
  background: #e74c3c;
}
.notification.out {
  margin-top: -100px;
}
.notification.out .notification__timer {
  display: none;
}
.notification.in {
  opacity: 1;
  margin-top: 0;
  transition: opacity 300ms ease-in, margin-top 300ms ease-in;
}
.notification.in .notification__timer {
  right: 100%;
}
.notification__timer {
  position: absolute;
  left: 0;
  height: 10px;
  right: 0;
  bottom: 0;
  border-radius: 0 5px 5px 0;
  background: #006FE7;
  transition: right 5s linear;
}

.button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #006FE7;
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}
.button-centered {
  margin: 0px auto;
  display: block;
}
.button:hover {
  background-color: #1a7de9;
}
.button.danger {
  background-color: #e74c3c;
}
.button.danger:hover {
  background-color: #e95e50;
}
.button.warning {
  background-color: #f1c40f;
  color: #000;
}
.button.warning:hover {
  background-color: #f2ca27;
}
.button.alt {
  background-color: #e8e9e9;
  color: #000;
}
.button.alt:hover {
  background-color: #e3e4e4;
}

fieldset {
  display: flex;
  border: none;
  box-sizing: border-box;
  width: 100%;
}
fieldset .input {
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  border-bottom: 1px solid #e8e9e9;
  margin-right: 20px;
  display: flex;
  flex: 1;
}
fieldset .input img.icon {
  width: 30px;
}
fieldset .input.readonly label {
  top: 0;
  font-size: 12px;
  font-weight: 600;
  color: #006FE7;
}
fieldset .input-big {
  flex: 2;
}
fieldset .input:last-child {
  margin-right: 0;
}
fieldset .input label {
  position: absolute;
  left: 0;
  font-size: 18px;
  top: 20px;
  padding: 10px 0;
  transition: top 300ms ease-out, font-size 300ms ease-out, font-weight 300ms ease-out, color 300ms ease-out;
}
fieldset .input input,
fieldset .input select {
  font-size: 18px;
  border-radius: 0;
  border: none;
  height: 44px;
  box-sizing: border-box;
  width: 100%;
}
fieldset .input input:focus,
fieldset .input select:focus {
  outline: none;
}
fieldset .input input:focus + label, fieldset .input input:valid + label,
fieldset .input select:focus + label,
fieldset .input select:valid + label {
  top: 0;
  font-size: 12px;
  font-weight: 600;
  color: #006FE7;
}

/*# sourceMappingURL=common.css.map */
