.app {
  padding: 0 500px;
  flex: 1;
  position: relative;
  background: tint($grey, 90%);
}

@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}