body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Courier";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.flex {
  flex: 1;
}

.fat {
  font-weight: bold;
  color: $primary;
}

h2 {
  color: $primary;

  sup {
    font-size: 14px;
  }
}