body {
  padding: 0;
  margin: 0;
  font-family: 'courier';
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.flex {
  flex: 1;
}

.fat {
  font-weight: bold;
  color: $primary;
}
h1,
h2 {
  color: $primary;

  sup {
    font-size: 14px;
  }
}

.justify-box {
  display: flex;
  justify-content: space-between;
}