body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.flex {
  flex: 1;
}

.fat {
  font-weight: bold;
  color: $primary;
}

.stretch {
  width: 100%;
}

h1,
h2 {

  sup {
    font-size: 14px;
  }
}

h1,
h2 {
  color: $white;
}

p {
  color: $white;
}

.justify-box {
  display: flex;
  justify-content: space-between;
}

.scrollx {
  overflow-x: auto;
}