{% include 'partials/header.html' %}
  <div class="allocations">
    <div class="container">
      <h1>Premiums per 24h</h1>
      <table>
        <thead>
          <tr>
            <th>Protocol</th>
            {% for token in data.tokens %}
              <th>
                <img src="/static/svg/crypto/color/{{ data.tokens[token].symbol }}.svg" alt="" title="{{ data.tokens[token].name }}">
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for protocol in data.protocols %}
            <tr>
              <td class="fat">{{ data.protocol_meta[protocol].name }}</td>
              {% for token in data.tokens %}
                {% if data.protocols[protocol][token] %}
                  <td>{{ data.protocols[protocol][token].premium_str }}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div class="container">
      <h1>Protocol</h1>
      {% for protocol in data.protocols %}
      <div class="hbox protocol" id="a{{protocol}}">        
        <div class="flex vbox">
          <h3>{{ data.protocol_meta[protocol].name }}</h3>
          <p class="flex">{{ data.protocol_meta[protocol].desc }}</p>
          <div class="hbox meta">
            <b>Pay out in:</b>
            {% for token in data.protocols[protocol] %}
              <img height="30px" src="/static/svg/crypto/color/{{ data.tokens[token].symbol }}.svg" alt="" title="{{ data.tokens[token].name }}">
            {% endfor %}
            <div class="flex"></div>
            <a class="button website" href="{{ data.protocol_meta[protocol].website }}">Website</a>
          </div>
        </div>
        
          <div class="pie"></div>
      </div>
      {% endfor %}
    </div>
  </div>
{% include 'partials/footer.html' %}