{% include 'partials/header.html' %}
<div class="breakdown">
  <div class="welcome hbox smoking-kills">
    <table class="flex">
      <thead>
        <tr>
          <th>Protocol</th>
          <th data-docs="glossary#coverage">Coverage</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        {% for protocol in data.protocols_covered %}
          <tr>
            <td>
              {{ data.protocol_meta[protocol].name }}
            </td>
            <td>$10,000,000</td>
            <td>{{ data.protocols_covered[protocol].percentage_str }}%</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="fat">Total Covered</td>
          <td class="fat">$40,000,000</td>
          <td class="fat">100%</td>
        </tr>
      </tbody>
    </table>
  </div>
    {% for protocol in data.protocols %}
    <div class="vbox protocol smoking-kills" id="a{{protocol}}">
      <h2>{{ data.protocol_meta[protocol].name }}</h2>
      <div class="hbox">
        <div class="flex vbox">
          <p class="flex">{{ data.protocol_meta[protocol].desc }}</p>
          <div class="hbox meta">
            {% if data.protocol_meta[protocol].agreement %}<a class="button website" href="/static/pdf/{{ data.protocol_meta[protocol].agreement }}" target="_blank">Agreement</a>{% endif %}
            {% if data.protocol_meta[protocol].website %}<a class="button website" href="{{ data.protocol_meta[protocol].website }}" target="_blank">Website</a>{% endif %}
            {% if data.protocol_meta[protocol].twitter %}<a class="button website" href="{{ data.protocol_meta[protocol].twitter }}" target="_blank">Twitter</a>{% endif %}
          </div>
        </div>
        <!-- <div class="pie"></div> -->
      </div>
      <!-- <div class="">
        <h2>Coverage Breakdown</h2>
        <div class="scrollx">
          <table>
            <thead>
              <tr>
                {% for token in data.protocols_covered[protocol].tokens %}
                <th style="width:100px;" title="{{ data.tokens[token].name }}">
                  <img height="25" src="/static/svg/crypto/color/{{ data.tokens[token].symbol }}.svg?v={{ env.git_hash }}" alt="{{ data.tokens[token].name }}">
                </th>
                {% endfor %}
                <th class="flex">
                  <img height="25" src="/static/svg/crypto/color/usd.svg?v={{ env.git_hash }}" alt="USD">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for token in data.protocols_covered[protocol].sorted %}
                  <td class="align-center">${{ data.protocols_covered[protocol].tokens[token].covered_str }}</td>
                {% endfor %}
                <td class="align-right fat">${{ data.protocols_covered[protocol].usd_str }}</td>
              </tr>
              <tr class="coverage-breakdown__row">
                {% for token in data.protocols_covered[protocol].sorted %}
                  <td class="coverage-breakdown__holder">
                    <div class="coverage-breakdown__holder-bar" style="height:{{ data.protocols_covered[protocol].tokens[token].percentage }}%;">
                      {{ data.protocols_covered[protocol].tokens[token].percentage }}%
                    </div>
                  </td>
                {% endfor %}

              </tr>
            </tbody>
          </table>
        </div>
      </div>-->
    </div>
    {% endfor %}
  </div>
{% include 'partials/footer.html' %}
