{% include 'partials/header.html' %}
<div class="dashboard">
  <div class="hbox container warning smoking-kills">
    <b>Note: Please manually set gas prices for all transactions to 1000 gwei.</b>
  </div>
  <div class="hbox stats">
    <div id="poolsize" class="container purp smoking-kills flex centered">
      <h4>Total funds:</h4>
      <h2>${{ data.pool.usd_total_format }}</h2>
    </div>

    <div id="hacksize" class="container purp smoking-kills flex centered" data-docs="glossary#buffer-for-stakers">
      <h4>Buffer for stakers:</h4>
      <h2>${{ data.pool.usd_buffer_format }}</h2>
    </div>
  </div>

  <div class="staking-pools container smoking-kills">
    <h2>STAKING POOLS</h2>
    <div class="scrollx">
      <table id="tokenTable">
        <thead>
          <tr>
            <th data-column="protocol" data-column-type="image" data-column-class="icon" width="40">Token</th>
            <th data-column="name"></th>
            <th data-column="poolsize" data-column-type="numba">Pool Size</th>
            <th data-column="apy" data-column-class="fat">APY</th>
            {% if env.wallet != "None" %}
              <th data-column="balance" data-column-class="fat">Balance</th>
            {% endif %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for protocol in data.pool.tokens %}
            <tr id="token-{{protocol.token.symbol}}" class="token {% if env.wallet != "None" %} clickable {% endif %} {% if protocol.token.symbol == "sherx" %} highlighted {% endif %}">
              <td class="icon">
                <img src="/static/svg/crypto/color/{{ protocol.token.symbol }}.svg?v={{ env.git_hash }}" title="{{ protocol.token.symbol }}">
              </td>
              <td>{{ protocol.token.name }}</td>
              <td>${{ protocol.pool.usd_size_str_format }}</td>
              <td>{{ protocol.pool.apy }}%</td>
              {% if env.wallet != "None" %}
                <td class="balance fat">
                  <img class="loader-mini" src="/static/img/mini-loader.svg" alt="">
                </td>
              {% endif %}
              <td {% if protocol.token.symbol == "sherx" %} data-docs="glossary#sherx" {% endif %}></td>
            </tr>
            {% if env.wallet != "None" %}
              <tr id="expander-{{ protocol.token.symbol }}" class="expander smoking-kills hidden">
                <td colspan="5">
                  <h2 {% if protocol.token.symbol == "sherx" %} highlighted {% endif %}>
                    {{ protocol.token.name }}
                  </h2>
                  <div class="hbox">
                    <div class="flex">
                      <h4>Actions</h4>
                      <div class="actions">
                        <div data-docs="glossary#staking">
                          <a class="button stake" href="/stake/{{ protocol.token.address }}">Stake</a>
                        </div>
                        <div data-docs="glossary#cooldown">
                          <a class="button cooldown disabled" href="/cooldown/{{ protocol.token.address }}">Cooldown</a>
                        </div>
                        <div data-docs="glossary#harvesting">
                          <a class="button harvest disabled" href="/harvest/{{ protocol.token.address }}">Harvest</a>
                        </div>
                      </div>
                    </div>
                    <div class="balance-breakdown flex">
                      <table class="smoking-kills">
                        <thead>
                          <tr>
                            <th>Balance Breakdown</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Stake</td>
                            <td class="userstake">$0.00</td>
                          </tr>
                          <tr>
                            <td>SHERX Profit</td>
                            <td class="profit">$0.00</td>
                          </tr>
                          <tr>
                            <td class="fat">Total</td>
                            <td class="total">$0.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% if protocol.token.symbol == "sherx" %}
                    <table>
                      <thead>
                        <tr>
                          {% for underlying in data.sherx %}
                          <th>
                            <img height="25px" title="{{ data.sherx[underlying].token.name }}" src="/static/svg/crypto/color/{{ data.sherx[underlying].token.symbol }}.svg?v={{ env.git_hash }}" alt="{{ data.sherx[underlying].token.symbol }}">
                          </th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for underlying in data.sherx %}
                          <td>
                              {% if data.sherx[underlying].amount_usd_format == "0.00" %}
                                -
                              {% else %}
                                ${{ data.sherx[underlying].amount_usd_format }}
                              {% endif %}
                          </td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="withdrawals" class="cooldown-block container smoking-kills hidden">
    <h2>FUNDS IN COOLDOWN</h2>
    <div class="scrollx">
      <table id="withdrawalsTable">
        <thead>
          <th data-column="icon" data-column-type="image" data-column-class="icon" width="40">Pool</th>
          <th data-column="protocol"></th>
          <th data-column="stake">lockTokens</th>
          <th data-column="availableFrom" data-column-type="countdown" data-column-class="availableFrom">Earliest Unstake</th>
          <th data-column="availableTill" data-column-type="countdown">Latest Unstake</th>
          <th data-column="estimate" data-column-class="fat">Balance</th>
          <th data-column="action" data-column-type="button" data-column-class="action"></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<script src="/static/js/class/Withdrawals.js?v={{ env.git_hash }}" type="module" charset="utf-8"></script>

{% include 'partials/footer.html' %}