{% include 'partials/header.html' %}
<div class="modal">
  <div id="approve" class="modal-container hidden">
    <h1>Approve {{ data.token.name }}</h1>
    <p>You need to approve our Insurance contract before you can stake {{ data.token.symbol }}.</p>
    <br>
    <button type="button" name="button" id="approveButton">Approve</button>
  </div>
  <div id="deposit" class="modal-container hidden">
    <h1>Stake {{ data.token.name }}</h1>
    <p>You need to approve our Insurance contract before you can stake {{ data.token.name }}.</p>
    <br>
    <div class="input amount">
      <div class="input-sub">
        Available Funds: <b id="max-available">$0,00</b>
      </div>
      <img src="/static/svg/crypto/color/{{ data.token.symbol }}.svg">
      <input type="number" name="amount">
      <button type="button" name="button" id="maxButton">MAX</button>
    </div>
    <br>
    <p>Estimated:</p>
    <h2 id="estimate">$0,00</h2>
    <p>1 {{ data.stake.symbol }} = {{ data.xrate_str }} {{ data.token.symbol }}</p>
    <button type="button" name="button" id="depositButton">Stake</button>
  </div>
</div>
{% include 'partials/footer.html' %}
