{% include 'partials/header.html' %}
<article class="faq">
  <div class="faq-item" collapsed="true">
    <h4>How does it work?</h4>
    <div class="content">
      <p>Audits R Dead is an insurance platform designed to provide protocols with affordable, high-quality coverage against smart contract hacks. Anyone can stake in our insurance pool and we aim to offer the highest risk-adjusted return in DeFi.
        This
        is made possible by our expert smart contract security team, who reviews and prices insurance for every protocol we cover and has “skin-in-the-game” alongside our stakers.</p>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>How is it different from other insurance protocols?</h4>
    <div class="content">
      <p>We think existing insurance is unpopular for two major reasons:</p>
      <ul>
        <li>Poor user experience</li>
        <li>High prices</li>
      </ul>
      <ul>
        <li>Nobody likes buying insurance which is why we don’t make you do it. We cover protocols wholesale so users don’t need to worry about
          it.</li>
        <li>Existing protocols outsource pricing by either making users decide which protocols are safe or by relying on old audits. We have a team of expert smart contract security analysts who price our insurance and have “skin in the game”
          alongside our stakers.</li>
      </ul>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>Why are audits dead?</h4>
    <div class="content">
      <p>A major reason many protocols pay for expensive audits is to prevent user funds from being stolen. Over the last few months, it has become increasingly clear that audits are not a perfect solution for preventing hacks. We don’t think there
        is a perfect solution to preventing hacks. Instead, we think the risk of loss should be shifted from unsuspecting users to investors who are looking for a favorable risk-adjusted return. That’s why we built this protocol.</p>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>How does staking work?</h4>
    <div class="content">
      <p>Stakers put their funds in our pool and receive a yield based on protocol insurance fees and current lending protocol rates. These funds cover the risk of smart contract hacks among our partner protocols and can be slashed in the event of a hack. There is currently a 3-day “unlocking” period to withdraw funds from the pool.</p>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>How can I get insurance as a protocol?</h4>
    <div class="content">
      <p>We are currently in a closed beta with a select number of protocols. Please email us at auditsrdead@gmail.com to join the waitlist.</p>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>How do I start using it on Kovan?</h4>
    <div class="content">
      <p>Get Kovan ETH <a href="#">here</a>.</p>
      <p>Get Kovan Aave Dai <a href="#">here</a>.</p>
    </div>
  </div>
  <div class="faq-item" collapsed="true">
    <h4>Where can I see the contracts this protocol interacts with?</h4>
    <div class="content">
      <h3>Contract Addresses</h3>
      <b>Insurance Pool</b>
      <p>0x6E36a59b4b4dBD1d47ca2A6D22A1A45d26765601</p>
      <b>Stake Token</b>
      <p>0x2610C11aB6f7DCa1d8915f328c6995E0c16f5d94</p>
      <b>Strategy Manager</b>
      <p>0x93540d68b2447F924E51caE24c3EAa3AB5516e32</p>
      <b>AaveV2 Strategy (+ swap to AAVE)</b>
      <p>0x5852A4a9687dAFFCd5464a2790d3F4d5E5001A69</p>
      <b>Aave Governance Strategy (+ swap to DAI)</b>
      <p>0xBb8974C5F93ED2935E4E0d9abC95551310c48F62</p>
      <b>Mock Aave token</b>
      <p>0x85821C543d5773cA19b91F5b37e39FeC308C6FA7</p>
      <b>Mock Aave governance</b>
      <p>0x8967a5f5eEcCF3b60Dd299502f8BEbD217268956</p>
      <b>Mock Chainlink oracle</b>
      <p>0xb3Ef934755f162e2Aa1c7Aae4CD6167aE2694d25</p>
      <h3>Protocols</h3>
      <b>Maker</b>
      <p>0x2698812145d22d42d61c043b9933d0771afdf0fad79a42fc985105d0f27141b0</p>
      <b>Yearn</b>
      <p>0xd88eb2629f4cc00a052d4e86cd29a0be2b39e7b0c2fe1c459f7e4c1aa3d4df3b</p>
      <b>PieDAO</b>
      <p>0xc94af803b7bf4f45b7e9822e53806f6d873074abc6cedbfccfa727bf00c623e6</p>
    </div>
  </div>
</article>
{% include 'partials/footer.html' %}