{% include 'partials/header.html' %}
<div class="modal">
  <div id="harvest" class="modal-container smoking-kills">
    <h1>Goerli Faucet</h1>
    {% if env.wallet == "None" %} 
      <form action="/faucet">
        <p>Wallet address</p>
        <div class="input amount">
          <input type="text" id="address" name="address" value="{{ env.wallet }}"><br>
        </div>
        <br>
        <input class="button button-centered" type="submit" value="Submit">
      </form>
    {% else %}
    <p>Request successfull check the transaction at:</p>
    <a target="_blank" href="https://goerli.etherscan.io/tx/{{ env.wallet }}">{{env.wallet}}</a>
    {% endif %}
  </div>
</div>
{% include 'partials/footer.html' %}
