{% include 'partials/header.html' %}
<div class="modal vbox">
  <div id="approval-loader" class="approval-loader smoking-kills container hidden">
    <p>Waiting for approval</p>
    <img class="loader-mini" src="/static/img/mini-loader.svg?v={{ env.git_hash }}" alt="">
  </div>
  <div id="withdraw" class="modal-container smoking-kills">
    <h1><span id="type">Cooldown</span> {{ data.token.name }}</h1>
    <p>Enter the amount of {{ data.stake.symbol }} to begin the cooldown.</p>
    <p>Note: Activating the cooldown will transfer your {{ data.stake.symbol }} to the Sherlock contract.</p>
    <br>
    <div class="hbox stretch">
      Available: 
      <div class="flex"></div>
      <b id="max-available">0</b>
    </div>
    <div class="hbox stretch">
      Approved: 
      <div class="flex"></div>
      <b id="approved">0</b>
    </div>
    <div class="input amount">
      <img src="/static/svg/crypto/color/{{ data.token.symbol }}.svg?v={{ env.git_hash }}">
      <input type="number" name="amount" value="">
      <button type="button" name="button" id="maxButton">MAX</button>
    </div>
    <br>
    <p>Estimated:</p>
    <h2 id="estimate">$0.00</h2>
    <p>1 {{ data.stake.symbol }} = {{ data.xrate_str }} {{ data.token.symbol }}</p>
    <button class="hidden" type="button" name="button" id="withdrawButton">Activate Cooldown</button>
    
    <div class="hbox-between stretch">
      <button class="hidden" type="button" name="button" id="approveButton">Approve</button>
      <button class="hidden" type="button" name="button" id="approveButtonMax">Approve Unlimited</button>  
    </div>
  </div>
</div>
{% include 'partials/footer.html' %}
