{% include 'partials/header.html' %}
<div class="modal">
  <div id="approve" class="modal-container hidden">
    <h1>Approve {{ data.stake.name}}</h1>
    <p>You need to approve our Insurance contract to activate the cooldown period for {{ data.stake.symbol }}.</p>
    <br>
    <button type="button" name="button" id="approveButton">Approve</button>
  </div>
  <div id="withdraw" class="modal-container hidden">
    <h1>Activate Cooldown</h1>
    <p>You need to approve our Insurance contract before you can activate the cooldown period.</p>
    <div class="input amount">
      <img src="/static/svg/crypto/color/{{ data.token.symbol }}.svg">
      <input type="number" name="" valuoijfades9dsFo9u8fg8dfsuijosaduhie="">
      <button type="button" name="button" id="maxButton">MAX</button>
    </div>
    <br>
    <p>1 {{ data.stake.symbol }} = {{ data.xrate }} {{ data.token.symbol }}</p>
    <button type="button" name="button" id="withdrawButton">Activate Cooldown</button>
  </div>
</div>
{% include 'partials/footer.html' %}
