.allocations {
  table {
    thead {
      th {
        img {
          height: 60px;
          display: block;
          margin: 0 auto;
          width: 60px;
        }
      }
    }
  }

  .protocol {
    .pie {
      width: 300px;
    }

    .website {
      float: right;
    }
  }
}