@import "global/variables";
@import "components/transaction-list";

.dashboard {

  &-block {
    box-sizing: border-box;
    background: $white;
    display: flex;
    flex-direction: column;
    
    fieldset {
      margin-bottom: 40px;
    }

    hr {
      margin: 20px 0;
      border-color: $light-grey;
      border-top:none;
    }

    &__key-value {
      display: flex;
      font-size: 18px;
      margin-bottom: 10px;

      .key {
        flex: 1;
      }

      .value {
        color: $blue;
        font-weight: 500;
      }
    }
  }
}