@import "global/variables";

#poolsize h2 {
  text-align: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  // color: transparent;
  text-shadow: 0 0 3px #eee, 5px 5px 2px teal, -5px -2px 2px mix(black,red,50);
  font-weight: 400;
  animation: shift 4s ease-in-out infinite alternate;
}