@import "global/variables";

#poolsize h2 {
  text-align: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  // color: transparent;
  text-shadow: 0 0 3px #eee, 5px 5px 2px teal, -5px -2px 2px mix(black,red,50);
  font-weight: 400;
  animation: shift 4s ease-in-out infinite alternate;
}

table {
  .expander {h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
  }
    .token-split {
      .flex {
        
        .fat {
          font-weight: bold;
        }

        & > div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background: $white;
          margin-top: 10px;
          margin-right: 10px;
          padding: 5px 10px; 

          &:first-child {
            margin-top: 0;
          }

          & > span:first-of-type {
            margin-left: auto;
            display: block;
            margin-right: 20px;
          }

          & > span:last-of-type {
          }

          img {
            margin-right: 50px;
            height: 32px;
            justify-self: flex-start;
          }
        }
      }
    }
  }
}