@import "global/variables";
$caret-size: 8px;

.faq {
  &-item {
    margin-bottom: 10px;
    
    &[collapsed="false"] {
      .content {
        max-height: 1000px;
      }

      h4 {
        &:before {
          transform: rotate(90deg);
        }
      }
    }

    &:hover {
      h4 {
        &:before {
          transform: rotate(45deg);
        }
      }
    }

    h4 {
      color: $primary;
      margin-bottom: 5px;
      position: relative;
      font-size: 22px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: -20px;
        top: 5px;
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: middle;
        border-style: solid;
        border-width: $caret-size 0 $caret-size $caret-size;
        border-color: transparent $primary transparent;
        transition: transform 100ms ease-in-out;
        transform: rotate(0deg);
      }
    }

    .content {
      margin-top: 0;
      transition: max-height 300ms ease-in-out;
      max-height: 0;
      overflow: hidden;
    }
  }
}